<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans">
    <link rel="stylesheet" href="chapter-4.css">

    <title>Chapter 4</title>
</head>

<body>
    <div>
        <img src="assets/logo.png" alt="logo"><span>
        <h1 class="title">Rock Paper Scissors</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm area-player">
                <h3>Player : <span id="player-score">0</span></h3>
                <ul>
                    <li>
                        <img src="assets/batu.png" id="batu" alt="batu" class="pilihan">
                    </li>
                    <li>
                        <img src="assets/kertas.png" id="kertas" alt="kertas" class="pilihan">
                    </li>
                    <li>
                        <img src="assets/gunting.png" id="gunting" alt="gunting" class="pilihan">
                    </li>
                </ul>
            </div>
            <div class="col-sm info" id="info-hasil">
                <h1>VS</h1>
            </div>
            <div class="col-sm area-computer">
                <h3>Computer : <span id="comp-score">0</span></h3>
                <ul>
                    <li>
                        <img src="assets/batu.png" id="batu-comp" alt="batu" class="pilihan">
                    </li>
                    <li>
                        <img src="assets/kertas.png" id="kertas-comp" alt="kertas" class="pilihan">
                    </li>
                    <li>
                        <img src="assets/gunting.png" id="gunting-comp" alt="gunting" class="pilihan">
                    </li>
                </ul>
            </div>
        </div>
        <div class="tombol-refresh">
            <img src="assets/refresh.png" alt="refresh" id="reset">
        </div>
    </div>
</body>
<script src="chapter-4.js"></script>

</html>