<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <!-- My Font -->
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

  <!-- My CSS -->
  <link rel="stylesheet" href="chapter-3.css">

  <title>Chapter 3</title>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
          <a class="nav-link active" href="#home">Home<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="#games">Games</a>
          <a class="nav-link" href="#features">Features</a>
          <a class="nav-link" href="#requirements">Requirements</a>
          <a class="nav-link" href="#scores">Scores</a>
          <a class="nav-link" href="#newslatters">Newsletters</a>
        </div>
        <div class="navbar-nav ml-auto">
          <a class="nav-link" href="#">Sign Up</a>
          <a class="align-self-start mr-auto btn btn-warning tombol" href="#">Login</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Akhir Navbar -->

  <!-- Jumbotron Main Screen -->
  <div class="jumbotron jumbotron-fluid" id="home">
    <div class="container">
      <h1 class="display-4">PLAY TRADITIONAL GAME</h1>
      <p class="lead">Experience new traditional game play</p>
      <a href="" class="btn btn-warning tombol">PLAY NOW</a>
    </div>
  </div>
  <!-- Akhir Jumbotron Main Screen -->


  <!-- The Games -->
  <div class="container-fluid the-games" id="games">
    <div class="container">
      <div class="row">
        <div class="col-lg">
          <h5>What's so special?</h5>
          <h1>THE GAMES</h1>
        </div>
        <div class="col-lg-8 gameslide">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/game1.jpg" class="d-block w-100" alt="game1">
              </div>
              <div class="carousel-item">
                <img src="img/game2.jpg" class="d-block w-100" alt="game2">
              </div>
              <div class="carousel-item">
                <img src="img/game3.jpg" class="d-block w-100" alt="game3">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- The Games -->

  <!-- Features -->
  <div class="container-fluid features" id="features">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg konten">
          <h5>What's so special?</h5>
          <h1>FEATURES</h1>
          <h3>TRADITIONAL GAMES</h3>
          <p>If you miss your childhood, we provide <br> many traditional games here</p>
          <h3>GAME SUIT</h3>
          <h3>TBD</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Features -->

  <!-- Requirements -->
  <div class="container-fluid requirements" id="requirements">
    <div class="row">
      <div class="col-lg-6">
        <h1>SYSTEM REQUIREMENTS</h1>
      </div>
      <div class="col-lg-6">
        <h5>Can my computer run this game?</h5>
      </div>
      <div class="col-lg">
        <table class="table table-bordered">
          <tr>
            <td>
              <h3>OS:</h3>
              <h4>Windows 7 64-bit only</h4>
              <h4>(No OSX support at this time)</h4>
            </td>
            <td>
              <h3>PROCESSOR:</h3>
              <h4>Intel Core 2 Duo @ 2.4 GHZ or</h4>
              <h4>AMD Athlon X2 @ 2.8 GHZ</h4>
            </td>
          </tr>
          <tr>
            <td>
              <h3>MEMORY:</h3>
              <h4>4 GB RAM</h4>
            </td>
            <td>
              <h3>STORAGE:</h3>
              <h4>8 GB available space</h4>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <h3>GRAPHICS:</h3>
              <h4>NVIDIA GeForce GTX 660 2GB or</h4>
              <h4>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</h4>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- Requirements -->

  <!-- Top Scores -->
  <div class="container-fluid top-scores" id="scores">
    <div' class="row">
      <div class="col-lg-6 score">
        <h1>TOP SCORES</h1>
        <h4>This top score from various games provided on this platform</h4>
        <a href="" class="btn btn-warning tombol">see more</a>
      </div>
      <div class="col-g testimoni">
        <div class="row">
          <div class="col ava1"><img src="./img/wonderwoman.jpg" alt="Gal Gadot" style="width: 80px;"
              class="avatar float-left">
            <h2>Gal Gadot</h2>
            <h4>PC Gamer</h4>
            <p>"One of my gaming highlights of the year.</p>
            <h6>October 18, 2018</h6>
          </div>
        </div>
        <div class="row">
          <div class="col ava2">
            <img src="./img/johnwick.jpg" alt="John Wick" style="width: 80px;" class="avatar float-left">
            <h2>John Wick</h2>
            <h4>PC Gamer</h4>
            <p>"The next big thing in the world of streaming and survival games.</p>
            <h6>December 21, 2018</h6>
          </div>
        </div>
        <div class="row">
          <div class="col ava3">
            <img src="./img/diansastro.jpg" alt="Dian Sastro" style="width: 80px;" class="avatar float-left">
            <h2>Dian Sastro</h2>
            <h4>PC Gamer</h4>
            <p>Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous.</p>
            <h6>December 24, 2018</h6>
          </div>
        </div>
      </div>
  </div>
  </div>
  </div>
  <!-- Top Scores -->

  <!-- Newsletter -->
  <div class="container-fluid newslatters" id="newslatters">
    <div class="row justify-content-end ">
      <div class="col-7">
        <h3>Want to stay in touch?</h3>
        <h1>NEWSLETTER SUBSCRIBE</h1>
        <p>In order to start receiving our news all you have to do is enter your email address. <br> Everything else
          will no taken care of by us. We sill send you emails containing information <br> bout game. We don't
          spam.</p>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col">
        <form class="form-floating input-subs">
          <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com"
            value="youremail@binar.co.id">
          <label for="floatingInputValue">Your email address</label>
        </form>
      </div>
      <div class="col subscribe">
        <button type="button" class="btn btn-warning">Subscribe now</button>
      </div>
    </div>
  </div>

  <!-- Newslettes -->

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
  </script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
</body>

</html>