/* Navbar */
.navbar-brand {
    font-family: Bebas Neue;
    font-size: 32px;
}

/* Jumbtron Main Screen */
.jumbotron {
    background-image: url(img/1-main.jpg);
    background-position: center;
    background-size: cover;
    height: 850px;
    width: 100%;
    text-align: center;
}

.jumbotron .display-4 {
    font-family: Bebas Neue;
    font-size: 55px;
    color: white;
    text-align: center;
    margin-top: 300px;
}

.jumbotron .lead {
    color: white;
    margin-bottom: 30px;
    font-size: 15px;
}

/* The Games */

.the-games {
    background-image: url(img/2-thegames.jpg);
    background-position: center;
    background-size: cover;
    height: 850px;
    width: 100%;
    margin-top: -35px;
}

.the-games h1 {
color: white;
text-align: center;
margin-top: 30px;


}

.the-games h5 {
    color: white;
    text-align: center;
    margin-top: 200px;
}

.the-games .gameslide {
    text-align: center;
    margin-top: 50px;

}
/* Features */
.features {
    background-image: url(img/3-features.jpg);
    background-position: center;
    background-size: cover;
    height: 850px;
    width: 100%;
}

.konten {
    text-align: justify;
    margin-left: 700px;
    margin-top: 200px;
}

.konten h5 {
    color: white;
}

.konten h1 {
    color: white;
}

.konten h3 {
    color: darkgoldenrod;
}

.konten p {
    color: white;
}


/* Requirements */
.requirements {
    background-image: url(img/4-requirements.png);
    background-position: center;
    background-size: cover;
    height: 850px;
    width: 100%;
}

.requirements h1 {
    color: white;
    text-align: center;
    margin-top: 100px;
}

.requirements h5 {
    color: white;
    text-align: center;
    margin-top: 100px;
}

.table {
    width: 50%;
    height: 20px;
    margin-left: 100px;
    margin-top: 50px;
}

.table h3 {
    color: orange;
}

table h4 {
    color: white;
}


/* Top Scores */
.top-scores {
    background-image: url(img/5-topscores.png);
    background-position: center;
    background-size: cover;
    height: 850px;
    width: 100%;
}

.score {
    text-align: center;
    color: white;
    margin-top: 250px;
}

.ava1 {
    border-radius: 15px;
    background-color: rgb(44, 44, 44);
    margin-top: 150px;
    margin-left: 100px;
}

.ava2 {
    border-radius: 15px;
    background-color: rgb(44, 44, 44);
    margin-top: 50px;
    margin-left: 100px;
}

.ava3 {
    border-radius: 15px;
    background-color: rgb(44, 44, 44);
    margin-top: 50px;
    margin-left: 100px;
}

.testimoni h2 {
    color: orange;
}

.testimoni h4 {
    color: white;
}

.testimoni h6 {
    color: white;
}

.testimoni p {
    color: white;
}
/* Newslatter */
.newslatters {
    background-image: url(img/6-newsletter.png);
    background-position: center;
    background-size: cover;
    height: 850px;
    width: 100%;
    color: white;
}

.newslatters h3 {
    margin-top: 200px;
}

.newslatters p {
    text-align: justify;
}

.input-subs {
    width: 250px;
    margin-left: 560px;
}

.subscrib {
    margin-left: 200px;
}


/* Desktop Version */

/* Navbar */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 15px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid yellow;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    /* Tombol */
    .tombol {
        text-transform: uppercase;
    }

    /* Jumbotron Main Screen */
    .jumbotron {
        margin-top: -75px;
    }

    .jumbotron .display-4 {
        font-size: 80px;
    }

    .jumbotron .lead {
        font-size: 20px;
    }

    /* The Game */
    .the-games h1 {
        color: white;
        text-align: center;
        margin-top: 15px;
        
        
        }
        
        .the-games h5 {
            color: white;
            text-align: center;
            margin-top: 350px;
        }
        
        .the-games .gameslide {
            text-align: center;
            margin-top: 250px;
        
        }
}