body {
    background-color: #9C835F;
    font-family: Open Sans;
    text-transform: uppercase;
}

img {
    width: 80px;
    margin-left: 50px;
    margin-top: 20px;
}
.title {
    color: #F9B23D;
    text-transform: uppercase;
    font-size:  36px;
    margin-left: 150px;
    margin-top: -60px;
    margin-bottom: 50px;
}
.area-player {
    text-align: center;
    width: 560px;
    height: 600px;
    margin: 5px auto;
    /* background-color: lightgreen;
    background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); */
    position: relative;
    box-sizing: border-box;
    border-radius: 40px 40px 40px 40px;
}

.info {
    width: 200px;
    height: 60px;
    border: 5px solid salmon;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: 50px;
    background-color: white;
    border-radius: 40px 40px 40px 40px;;
    z-index: 1;
    text-align: center;
    line-height: 60px;
    color: #f89bb4;
    font-size: 26px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.area-computer {
    text-align: center;
    width: 560px;
    height: 600px;
    margin: 5px auto;
    /* background-color: lightblue; */
    /* background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 100%); */
    position: relative;
    box-sizing: border-box;
    border-radius: 40px 40px 40px 40px;
}

ul {
    padding-left: 25px;
}

li {
    list-style: none;
    margin: 30px;
}

.area-computer img {
    width: 130px;
    height: 130px;
    display: block;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
}

.area-player img {
    width: 130px;
    height: 130px;
    display: block;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
}

.pilihan {
    transition: .3s;
    position: relative;
    top:0;
    cursor: pointer;

}

.pilihan:hover {
    background-color: #C4C4C4;
    /* box-shadow: 0 0 30px 15px gray; */
    
}

.pilihan:active {
    top: 5px;
}

.tombol-refresh {
    text-align: center;
    margin-left: -35px;
}
